In [ ]:
# Importing libraries that we will need

import numpy as np
import pandas as pd
import sklearn
from sklearn import linear_model

In [ ]:
# Creating a dataframe with pandas Or In simple way loading the data that we have

DataFrame=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/LearningMachineLearningwithPRojects/student-mat.csv",sep=";")
DataFrame.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [ ]:
# Filtering out Unnecessary data(Columns) BY Just using those columns which we need.
# This data we will use for training pupose. 

# This will be our information from which we will predict
x=DataFrame[['age','Medu','Fedu','traveltime','studytime','failures','famrel','G1','G2']]
x.head()

   age  Medu  Fedu  traveltime  studytime  failures  famrel  G1  G2
0   18     4     4           2          2         0       4   5   6
1   17     1     1           1          2         0       5   5   5
2   15     1     1           1          2         3       4   7   8
3   15     4     2           1          3         0       3  15  14
4   16     3     3           1          2         0       4   6  10

In [ ]:
# This will be the output or That column or data which we have to predict.

y=DataFrame[['G3']]
y.head()

   G3
0   6
1   6
2  10
3  15
4  10

In [ ]:
# Above we have worked with dataframes but now we need arrays so we will convert
# the df into arrays using numpy.array

x=np.array(x)
y=np.array(y)

In [ ]:
# Spliting the data into two parts total four parts where we will have x_train , x_test, y_train, y_test respectively

x_train,x_test,y_train,y_test= sklearn.model_selection.train_test_split(x,y,test_size=0.3)

In [ ]:
# Generating model or initialising model we can use any model we want
Predictor=linear_model.LinearRegression()

# Now we are training the model on the train data set.
Predictor.fit(x_train,y_train)

# Now we are checking how it performed on the test dataset
print(Predictor.score(x_test,y_test))

0.8259256141092468

In [ ]:
# We can get tremendous amount and variety of data ranging from coefficients(Weights), max coeff ( max weightage) , Intercept( till which point values dont vary)
# And much more
print("the coefficients or weightage factors for the attributes selected are: \n",Predictor.coef_)
print('the max wieghtage for a attribute is as following:',Predictor.coef_.max())
print("The Intercept or the base value 'where the values dont vary and remains a constant' ",Predictor.intercept_)

the coefficients or weightage factors for the attributes selected are:
 [[-0.17605585  0.2009959  -0.13926241  0.18269869 -0.16299289 -0.24555879
   0.17888211  0.13158804  0.97927305]]
the max wieghtage for a attribute is as following: 0.9792730483010234
The Intercept or the base value 'where the values dont vary and remains a constant'  [0.66169379]

In [ ]:
# Here we are trying to analyse by ourself that what is the trend and how close is the actual value to the predicted value.

# Here we stor the predicted values for iterating and printing them,
another_predict=Predictor.predict(x_test)

# here we are print the Predicted values, information (on basic of what we predicted) and Actual values.
for i in range(len(another_predict)):
  print(another_predict[i],x_test[i],"now the true value",y_test[i])

[8.26618616] [15  4  4  2  2  2  4  7  9] now the true value [8]
[9.20101817] [16  3  2  2  3  0  5 11  9] now the true value [10]
[10.51833331] [17  1  2  2  2  0  3 12 11] now the true value [12]
[14.46032439] [15  4  2  1  3  0  3 15 14] now the true value [15]
[5.64644135] [15  3  2  1  2  3  3  6  7] now the true value [0]
[6.67345515] [15  1  1  1  2  3  4  7  8] now the true value [10]
[15.81725924] [16  2  3  1  2  0  2 16 16] now the true value [17]
[9.86634942] [18  4  4  2  2  0  4 12 10] now the true value [11]
[10.49454229] [19  4  3  1  2  0  4 11 11] now the true value [11]
[6.05334295] [22  3  1  1  1  3  5  6  8] now the true value [8]
[9.57562629] [18  4  3  1  3  0  5 10 10] now the true value [9]
[7.80087997] [19  1  1  1  1  0  3  8  9] now the true value [9]
[6.88088775] [18  2  2  1  4  0  4  9  8] now the true value [8]
[16.58468964] [16  4  2  1  2  0  4 15 16] now the true value [16]
[10.63333433] [15  4  4  1  3  0  4  9 11] now the true value [11]
[11.87748437] [17  2  2  2  2  0  4 12 12] now the true value [12]
[12.16249761] [16  2  2  1  2  1  3 10 13] now the true value [13]
[8.21281614] [15  4  3  2  4  0  2  7  9] now the true value [0]
[10.61287678] [16  2  2  1  4  0  5 11 11] now the true value [11]
[9.67450609] [17  1  1  1  2  0  4 12 10] now the true value [11]
[10.86133366] [16  3  4  1  2  0  5 11 11] now the true value [11]
[13.66821787] [17  1  2  1  2  0  3 15 14] now the true value [14]
[15.13119066] [15  1  2  1  2  0  3 16 15] now the true value [15]
[10.08790462] [15  4  3  1  2  0  4 10 10] now the true value [10]
[19.58361275] [16  4  3  1  4  0  4 19 19] now the true value [20]
[10.94144859] [18  4  2  1  2  0  4 12 11] now the true value [11]
[16.88465916] [15  4  3  1  2  0  4 17 16] now the true value [16]
[13.34328342] [16  2  2  2  2  0  5 13 13] now the true value [12]
[11.73113246] [16  4  4  1  2  0  4 10 12] now the true value [11]
[5.66582622] [19  1  1  3  2  3  5  8  7] now the true value [8]
[7.98892257] [17  2  2  1  4  0  3 10  9] now the true value [0]
[2.51959846] [18  2  2  1  1  2  3  7  4] now the true value [0]
[11.61704301] [15  4  2  2  1  1  5 11 11] now the true value [10]
[7.78388965] [18  4  3  2  2  0  4 10  8] now the true value [8]
[6.44812415] [16  2  2  1  2  0  4  8  7] now the true value [6]
[4.62234888] [17  4  3  1  2  2  3  6  6] now the true value [4]
[16.56597416] [15  4  2  1  1  0  2 15 16] now the true value [15]
[9.41549693] [15  3  3  2  3  2  4 10 10] now the true value [10]
[9.58625926] [16  2  2  2  2  1  4 10 10] now the true value [9]
[9.40208363] [18  1  1  2  1  0  3 10 10] now the true value [10]
[8.00770988] [17  3  4  1  3  1  4 10  9] now the true value [9]
[12.84647604] [18  3  2  1  3  0  5 13 13] now the true value [14]
[11.5536128] [19  3  3  1  2  1  4 15 12] now the true value [12]
[6.21527672] [16  3  3  1  3  0  4  7  7] now the true value [8]
[8.7438085] [17  3  2  1  1  1  4 11  9] now the true value [10]
[16.57701527] [16  4  3  1  2  0  4 16 16] now the true value [16]
[13.16076277] [18  3  2  2  3  0  5 14 13] now the true value [14]
[7.58070664] [19  3  3  1  2  2  4  9  9] now the true value [9]
[-1.23314611] [17  2  1  1  1  3  5  5  0] now the true value [0]
[13.22833636] [15  4  4  1  1  0  5 10 13] now the true value [14]
[9.68471439] [16  2  2  2  4  0  5 10 10] now the true value [11]
[9.47468021] [17  1  3  1  1  0  5 10 10] now the true value [10]
[15.510622] [15  4  3  1  2  0  4 14 15] now the true value [15]
[13.62939047] [20  4  2  2  3  2  5 15 14] now the true value [15]
[14.90537221] [18  3  4  1  2  0  4 16 15] now the true value [15]
[6.52179526] [16  1  1  2  2  0  3  9  7] now the true value [6]
[15.27947549] [17  3  2  2  2  0  4 14 15] now the true value [15]
[12.5112474] [17  4  2  2  3  0  4 15 12] now the true value [14]
[12.51446414] [16  3  2  1  2  0  1 12 13] now the true value [12]
[11.29252876] [17  4  3  2  2  0  4 13 11] now the true value [11]
[17.89533706] [15  4  3  1  1  0  4 16 17] now the true value [18]
[7.64283252] [16  4  3  1  2  0  3  9  8] now the true value [8]
[5.35158027] [17  2  1  2  2  0  4  6  6] now the true value [6]
[12.91184808] [16  3  3  1  2  0  4 12 13] now the true value [12]
[3.85654066] [17  3  2  1  1  3  5  6  5] now the true value [5]
[8.09008022] [19  4  4  2  2  0  2 10  9] now the true value [0]
[9.81332182] [17  3  1  1  2  0  4 10 10] now the true value [10]
[5.5611873] [17  1  1  3  1  1  5  7  6] now the true value [0]
[9.94717488] [19  2  3  1  3  1  4 13 11] now the true value [11]
[12.69571184] [19  3  1  1  3  1  5 14 13] now the true value [13]
[10.60345236] [15  1  2  1  2  0  4 10 11] now the true value [11]
[11.80637559] [15  3  4  1  3  0  4 12 12] now the true value [11]
[10.52883394] [18  1  1  2  2  0  4 11 11] now the true value [11]
[11.59999109] [16  2  3  1  2  0  4 11 12] now the true value [13]
[8.40438447] [15  2  4  1  3  0  4 10  9] now the true value [8]
[18.35045469] [16  3  3  1  3  0  5 16 18] now the true value [18]
[8.35440585] [18  1  1  2  2  0  5  8  9] now the true value [10]
[15.19247749] [15  4  4  1  2  0  3 14 15] now the true value [15]
[12.51546758] [18  1  4  3  2  0  4 13 13] now the true value [13]
[20.15667894] [15  4  4  1  1  0  5 18 19] now the true value [19]
[18.63753928] [18  4  4  2  3  0  5 19 18] now the true value [19]
[12.03396778] [17  4  2  1  4  0  4 14 12] now the true value [13]
[10.4795387] [15  1  1  1  2  0  4  8 11] now the true value [11]
[16.63737231] [15  4  3  1  3  0  5 15 16] now the true value [18]
[8.7014292] [18  3  2  2  2  0  4 10  9] now the true value [9]
[6.62700626] [16  2  2  1  2  0  5  8  7] now the true value [8]
[12.30427032] [15  2  1  3  3  0  5 10 12] now the true value [12]
[9.91467503] [17  4  3  1  2  0  5 10 10] now the true value [11]
[6.33080864] [16  3  1  1  4  0  4  7  7] now the true value [6]
[8.55370083] [16  4  3  1  3  0  5  7  9] now the true value [8]
[8.080539] [15  3  2  2  2  2  4  5  9] now the true value [7]
[0.12450688] [15  4  4  1  3  0  4 11  0] now the true value [0]
[9.71632568] [17  2  1  2  3  0  3 12 10] now the true value [12]
[8.76542478] [15  2  2  2  2  0  4  8  9] now the true value [8]
[15.5057739] [16  4  4  1  2  0  5 15 15] now the true value [16]
[10.97520934] [15  4  4  1  2  0  5  9 11] now the true value [12]
[14.2160307] [16  4  4  1  2  0  4 14 14] now the true value [14]
[13.2965742] [15  4  2  1  2  0  4 11 13] now the true value [13]
[7.10145609] [17  1  2  2  2  0  4  7  8] now the true value [8]
[14.55491255] [15  4  2  1  3  0  5 13 14] now the true value [14]
[8.54593265] [16  2  1  1  2  0  4  8  9] now the true value [10]
[9.83339007] [15  2  3  1  3  0  5 11 10] now the true value [11]
[5.50308221] [17  2  2  1  1  0  5  7  6] now the true value [6]
[-1.01683184] [16  3  3  2  1  2  4  4  0] now the true value [0]
[9.37723739] [17  2  4  2  2  0  4 10 10] now the true value [10]
[15.45005853] [15  4  4  1  1  0  5 12 15] now the true value [15]
[10.44948542] [15  4  3  2  2  0  5 10 10] now the true value [11]
[14.59778885] [17  0  2  2  3  0  3 16 15] now the true value [15]
[9.80261476] [15  3  3  1  2  0  5  8 10] now the true value [12]
[11.87084154] [16  2  2  1  2  0  4 12 12] now the true value [11]
[5.89774773] [18  2  2  1  2  1  5  7  7] now the true value [0]
[11.54183393] [17  3  2  2  2  0  1 12 12] now the true value [11]
[15.21119297] [16  4  4  1  3  0  5 14 15] now the true value [16]
[4.91317376] [15  1  1  1  2  2  3  8  6] now the true value [5]
[4.35651181] [17  4  4  2  2  0  4  6  5] now the true value [6]
[5.50206345] [19  3  2  2  2  2  3  7  7] now the true value [9]
[7.11323811] [18  3  2  2  1  1  4  6  8] now the true value [8]
[14.61725609] [17  2  4  1  2  0  4 14 15] now the true value [15]
[10.62736088] [17  2  3  2  2  0  4 11 11] now the true value [10]

In [ ]:



print(Predictor.predict([[17,1,1,1,2,0,5,5,5]]))

[[4.03590671]]